# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & OS
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ARCHITECTURE_AND_PUBLISHING_GUIDE.md
